body
{


}

h1{
color: red;
font-family:chiller;
font-size:100px;
text-align:center;
}

.tab{
background-color:white;
height:1000px;
width:1200px;
text-align:center;
border-spacing:10px;
}

.tab2{
height:200px;
width:400px;
text-align:center;
background-color:grey;
}

.a{
background-color:grey;
text-align:center;
height:100px;
width:1500px;
}

footer{
font-family:verdana;
font-size:20px;
}

form{
font-family:Times New Roman;
}

fs{
background-color:grey;
}

.button{
background-color:green;
display:green;
height:30px;
width:100px;
}

